<form class="forma" [formGroup]="mestoForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="mesto-card">
    <mat-card-header>
      <mat-card-title>Create Mesto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="container">
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Naziv" formControlName="naziv">
              <mat-error *ngIf="mestoForm.controls['naziv'].hasError('required')">
                Naziv is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <mat-select formControlName="drzava" required>
              <mat-option *ngFor="let drzava of drzave" [value]="drzava" selected>
                {{drzava.id}}. {{drzava.naziv}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="mestoForm.controls['drzava'].hasError('required')">
              Drzava is <strong>required</strong>
            </mat-error>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
